<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
  </startup>
  <connectionStrings>
    <add name="default"
      connectionString="Data Source=(DESCRIPTION=
      (ADDRESS_LIST=(ADDRESS=(PROTOCOL=TCP)(HOST=
      DESKTOP-QQICNSQ)(PORT=1521)))(CONNECT_DATA=
      (SERVICE_NAME=XE)));Persist Security Info=True;
      User ID=c##OMK;Password=OMK"
      providerName="Oracle.ManagedDataAccess.Client"/>
  </connectionStrings>
  <appSettings>
    <!-- Параметры логов -->
    <add key="LogLevel" value="TRACE"/>
    <!--<add key="LogLevel" value="NOLOG"/>-->
    <!--<add key="LogType" value="File"/>-->
    <add key="LogType" value="RotateFile"/>
    <!-- Для логгера FileLog писать лог в один файл-->
    <!--add key ="LogFile" value ="C:\Windows\Logs\ReceiverTasksFromORMService.log" /-->
    <!-- Для логгера RotateFile директория с логами -->
    <!--add key ="LogDir" value ="C:\Windows\Logs\" /-->
    <add key="LogFormat" value="[{datetime|'yyyy.MM.dd HH:mm:ss'}] [{loglevel|*7}] {message}"/>
    <!-- Период запуска обработчиков -->
    <add key="WorkerTimeout" value="300000"/>
    <!--<add key="WorkerTimeout" value="0"/>-->
  </appSettings>
</configuration>